<!-- <app-header></app-header> -->
<!-- <p>name{{user.name}}</p>
<p>birthday{{user.birthday}}</p>
<p>cpf{{user.cpf}}</p>
<p>email{{user.email}}</p>
<p>genre{{user.genre}}</p>
<p>password{{user.password}}</p>
<p>telephone{{user.telephone}} testeee </p> -->

<app-header></app-header>

<div class="container">
  <h2>Seu perfil {{user.name}}</h2>
  <div class="row">
    <div class="col-md-3" style="background-color: green;">
      <div class="card">
        <h1>test -1</h1>
      </div>

      <div class="card">
        <h1>test -2</h1>
      </div>

      <div class="card">
        <h1>test -2</h1>
      </div>

      <div class="card">
        <h1>test -3</h1>
      </div>

      <div class="card">
        <h1>test -4</h1>
      </div>

    </div>
    <div class="col-6 col-md-9" style="background-color: red;">
      <div class="card card_maior">
        <h1>TESTE</h1>
        <h1 style="font-size: 50px;">test -1</h1>
      </div>

      <div class="card card_maior">
        <h1>TESTE</h1>
        <h1 style="font-size: 50px;">test -2</h1>
      </div>
    </div>
  </div>
