<!-- <app-header></app-header> -->
<!-- <p>name{{user.name}}</p>
<p>birthday{{user.birthday}}</p>
<p>cpf{{user.cpf}}</p>
<p>email{{user.email}}</p>
<p>genre{{user.genre}}</p>
<p>password{{user.password}}</p>
<p>telephone{{user.telephone}} testeee </p> -->

<app-header></app-header>

<div class="container">
  <h5 class="tituloUsuario">Olá {{user.name}}</h5>
  <div class="row">
    <div class="col-md-3">
      <a (click)="aparecerItem()">
        <div class="card border border-dark">
          <h2><strong>cadastro</strong><br>
            ver e alterar seus dados, seu e-mail e sua senha</h2>
        </div>
      </a>

      <!-- <div class="card">
        <h1>test -2</h1>
      </div>

      <div class="card">
        <h1>test -2</h1>
      </div>

      <div class="card">
        <h1>test -3</h1>
      </div>

      <div class="card">
        <h1>test -4</h1>
      </div> -->

    </div>
    <div class="col-6 col-md-9">
      <div class="card card_maior border border-dark">
        <div *ngIf="mostrarItem" style="display: flex; display:inline-block; margin: 10px;">
          <h1 class="titulo1">Cadastro</h1>
          <form class="form">
            <div class="mb-2">
              <label class="form-label">primeiro nome:</label>
              <input type="name" class="form-control" aria-describedby="text" formControlName="name"
                value="{{user.name}}">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">
                Gênero:</label>
              <input type="text" class="form-control" id="exampleInputPassword1" formControlName="genre"
                value="{{user.genre}}">
            </div>

            <div class="mb-2">
              <label class="form-label">
                Data de nascimento: formato DD/MM/AAAA</label>
              <input type="date" class="form-control" aria-describedby="text" formControlName="birthday"
                value="{{user.birthday}}">
            </div>
            <div class="mb-3">
              <label class="form-label">CPF:
              </label>
              <input type="text" class="form-control" formControlName="cpf" placeholder="___-___-___-__"
                value="{{user.cpf}}">
            </div>

            <div class="mb-2">
              <label class="form-label">
                Telefone:</label>
              <input type="text" class="form-control" aria-describedby="teleohoneHelp" formControlName="telephone"
                placeholder="(__) _____ - ____" value="{{user.telephone}}">
            </div>

            <div class="mb-2">
              <label class="form-label">E-mail:</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email"
                value="{{user.email}}">
            </div>
            <div class="mb-3">
              <label class="form-label">
                Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                value="{{user.password}}">
            </div>
          </form>


        </div>
      </div>

      <!-- <div class="card card_maior">
        <h1>TESTE</h1>
        <h1 style="font-size: 50px;">test -2</h1>
      </div>
    </div> -->
    </div>
