<nav class="navbar" style="display: flex; display: inline-flex;">
  <h2 class="Textmarketplace"><a href="/" style="text-decoration: none; color:white ;">Marketplace</a> </h2>

  <div class="rotasNav">
    <button class="btn btn-danger" [routerLink]="['/login']" routerLinkActive="router-link-active" >Entrar</button>
    <a class="btn btn-danger" [routerLink]="['/cadastrar']" routerLinkActive="router-link-active" >Cadastrar</a>
  </div>
</nav>

<div class="container" *ngFor="let produto of produtos">
  <div class="row">
    <div class="">
      <div class="card">
        <img [src]="produto.img"/>
        <div class="card__content">
          <h4>{{ produto.name }}</h4>
          <p>
             {{ produto.description }} | <br>|{{ produto.valor}}$|
          </p>
          <a href="carinho">Adicionar/Carinho</a>
        </div>
      </div>
    </div>
  </div>

</div>
