<nav class="navbar" style="display: flex; display: inline-flex;">
  <h2 class="Textmarketplace"><a href="/" style="text-decoration: none; color:white ;">Marketplace</a> </h2>
    <div class="rotasNav">
      <a class="btn btn-danger" routerLinkActive="router-link-active" (click)="logout()">sair</a>
      <button class="btn btn-danger" [routerLink]="['/login']" routerLinkActive="router-link-active">Entrar</button>
      <a class="btn btn-danger" [routerLink]="['/cadastrar']" routerLinkActive="router-link-active">Cadastrar</a>
    </div>
</nav>

<!-- <div *ngIf="users; else elseBlock">
  <div *ngFor="let user of users">
    <p>{{user.email}}</p>
  </div>
</div>
<ng-template #elseBlock><p>ningume logado</p></ng-template>
<p [innerHTML]="users | json">teste</p> -->

<div class="container col-12">
  <div class="input-group">
    <input type="search" class="form-control" placeholder="Digite oque você procura..."
      (ngModelChange)="filtrarProduto()" [(ngModel)]="inputPesquisa">
    <img class="search" src="https://www.iconpacks.net/icons/2/free-search-icon-3076-thumb.png" alt="">
  </div>

  <div *ngFor="let produto of produtos" class="card">
    <img [src]="produto.img" />
    <div class="card__content">
      <h4>{{ produto.name }}</h4>
      <p>{{ produto.description }}</p>
      <p><strong> Valor: {{ produto.valor}} R$</strong></p>
      <button type="submit" routerLink="/carinho/{{produto.id}}" (click)="saveStorage(produto.id)"><h5>Adicionar Carinho</h5> <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
      </svg></button>
    </div>
  </div>
</div>
