nav {
  width: 100%;
}

h2 {
  color: white;
  margin-left: 20px;
  font-family: cursive;
  font-size: 25px;
}

.navbar {
  padding: 0px;
  margin: 0px;
  height: 80px;
  background-color: #f80032;
  /* position: fixed;
  top: 0; */
  /* z-index: 9997; z-index: 9997; //sobrepondo todos os elemntos a baixo do header */
}

.logoHeader {
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}
