<app-header></app-header>

<h1 class="tituloCesta">minha cesta
</h1>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container tabela" *ngFor="let produto of produtos">
        <div class="row" *ngIf="!excluitProdutos">
          <div class="card" style="width: 6rem;">
            <img class="card-img-top" [src]="produto.img" alt="Card image cap">
          </div>
          <div class="col">
            <h1 class="produto_name"><Strong>{{produto.name}}</Strong><br> Produto id:{{produto.id}}</h1>
          </div>
          <div class="col">
            <p class="desc">{{produto.description}}
            </p>
          </div>
          <div class="col">
            <div>
              <p><strong>valor: {{produto.valor}} R$</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h1 class="text1">resumo do pedido</h1>

      <button type="button" class="btn btn-danger" (click)="limparCarrinho()">
        <h1 class="menos">limpar carrinho</h1>
      </button>
      <hr>
      <div class="texto2">
        <p><strong> Subtotal ({{produtos.length}} produtos)</strong></p>
        <p><strong> {{valorTotal()}} R$</strong></p>
      </div>
      <hr />
      <p class="resumoNomeProdutoresumo do pedido"><strong> Total de: {{valorTotal()}} R$</strong></p>
      <p class="resumoNomeProduto" *ngFor="let produto of produtos">
        {{produto.name}}
      </p>
      <hr>
      <button class="btn btn-danger btnContinuar" [routerLink]="['/comprar']" routerLinkActive="router-link-active"
        (click)="valorTotal()">Continuar
      </button>
      <a class="text3" href="/">adicionar mais produtos</a>
      <hr />
    </div>
  </div>
</div>
