.conteudo {
  margin-top: 140px;
}

.tituloCesta{
  font-size: 22px;
  font-weight: bolder;
  margin: 10px;
  margin-top: 20px;
  margin-top: 40px;
  margin-left: 112px;
}

.tabela {

  display: inline-block;
  margin-top: 5px;
  border: solid 1px;
  height: 90px;
}

.card {
  margin-top: 5px;
  height: 80px;
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
}

.card img {
  height: 60px;
  width: 60px;
}

.card__content p {
  font-size: 15px;
  color: #222;
  font-weight: lighter;
  line-height: 25px;
  text-align: center;
}

.btn {
  margin: 12px;
  /* text-align: center; */
  height: 30px;
  width: 30px;
font-weight: bolder;
}

.mais{
  font-size: 22px;
  margin-top: -6px;
  margin-left: -3px;
}

.menos{
  font-size: 22px;
  margin-top: -10px;
}

.btn-danger {
  background: radial-gradient(circle, rgba(195, 27, 27, 1) 69%);
  color: white;
}







