<app-header></app-header>

<h1 class="tituloCesta">minha cesta

</h1>

<div class="container tabela" *ngFor="let produto of produtos">
  <div class="row" >
    <div class="col" >
      <div class="card" style="width: 6rem;">
        <img class="card-img-top" [src]="produto.img" alt="Card image cap">
      </div>
    </div>
    <div class="col">
      <h1>testeee</h1>
    </div>

    <div class="col">
      <h1>testeee2</h1>
    </div>

    <div class="col">
      <div>
        <h1>tesssssttt</h1>
      </div>
    </div>
  </div>
</div>






<!-- <div class="container" *ngFor="let produto of produtos">
  <div class="row">
    <div class="col">
      <div class="card">
        <img [src]="produto.img" />
      </div>
    </div>
    <div class="col">
      <div class="card__content">
        <div class="conteudo">
          <h1 class="titulo"><Strong>{{produto.name}}</Strong></h1>
          <p class="desc">{{produto.description}}
          </p>
          <p><strong>Valor: {{produto.valor}} R$</strong></p>
          <button class="comprar" (click)="comprar()" type="submit">
            <h5>Comprar</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->


