.container {
  text-align: center;
}

.Top {
  font-size: 13px;
  font-weight: bold;
  color: #666666;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
  color: rgb(0, 0, 0);
}

.loginText {
  color: #666666;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
}

.bi {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.form {
  color: #666666;
  margin-top: 10px;
  margin-left: 32%;
  width: 400px;
  border-radius: 0px;
  text-align: start;
  font-size: 14px;
}

.btn {
  text-decoration-color: none;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(195,27,27,1) 69%);
  color: white;
  font-weight:bold ;
  min-height: 50px;
  width: 400px;
}

.textFim {
  margin-top: 10px;
  text-align: center;
  padding: 20px;
}

