<app-header></app-header>

<div class="container">
  <div class="loginText">
    <h1>criar seu cadastro</h1>
  </div>
  <p class="Top">Veja seus pedidos de forma fácil, compre mais <br>rápido e tenha uma experiência personalizada '_'</p>

  <form class="form" [formGroup]="formulario" (ngSubmit)="registration()">
    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">primeiro nome:</label>
      <input type="name" class="form-control" aria-describedby="text" formControlName="name" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        Gênero:<p>pra gente te conhecer um pouquinho melhor :)</p></label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="genre" ngModel>
    </div>

    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">
        Data de nascimento:<p>
          necessário pra identificar a maioridade, no formato DD/MM/AAAA</p></label>
      <input type="date" class="form-control" aria-describedby="text" formControlName="birthday" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">CPF<p>necessário pra emissão das Notas Fiscais</p></label>
      <input type="text" class="form-control" formControlName="cpf" placeholder="___-___-___-__" ngModel>
    </div>

    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">
        Telefone: <p>caso a gente precise entrar em contato sobre seus pedidos</p></label>
      <input type="text" class="form-control" aria-describedby="teleohoneHelp" formControlName="telephone"
        placeholder="(__) _____ - ____" ngModel>
    </div>

    <div class="mb-2">
      <label for="exampleInputEmail1" class="form-label">e-mail: <p>Informe um e-mail válido. Você vai precisar ativar
          sua conta depois de criar seu cadastro</p></label>
      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">
        senha <p>precisa ter entre 6 e 20 caracteres</p></label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" ngModel>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="sim" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        <h6>
          compartilhar meus dados com parceiros para ter<br> conteúdos personalizados, veja como funciona.</h6>
      </label>
    </div>

    <button type="submit" class="btn">continuar</button>

    <div class="textFim">
      <p>Não se preocupe, nosso site é seguro! Ao criar o seu cadastro,<br> você concorda com a nossa
        <strong>
          política de
          privacidade
        </strong>
        já tem cadastro?
        <a href="login" style="text-decoration-color: #666666; color: #666666;">
          <strong>entrar</strong>
        </a>
    </div>
  </form>
</div>
